main {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
    justify-content: center;
  }
  
  .welcome-section {
    text-align: center;
  }
  
  .wave-emoji {
    font-size: 3rem;
    display: block;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .prompt-text {
    margin: 20px 0;
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    gap: 50px; /* This will add a gap between the cards */
    margin: 40px 0;
  }
  
  .action-card {
    background-color: #fff;
    width: 330px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .action-card img {
    width: 50px;
    margin-bottom: 20px;
  }
  
  .action-card p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .action-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
  